<link
  rel="stylesheet"
  href="./sly/css/app/widgets/classes_table/style.css"
/>

<div v-loading="data.{{{widget.widget_id}}}.loading">
  <table 
    class="classes-table"
    v-if="data.{{{widget.widget_id}}}.table_data.length > 0"
  >
    <thead>
      <th v-if="data.{{{widget.widget_id}}}.selectable" width="30px">
        <el-checkbox 
          :disabled="data.{{{widget.widget_id}}}.disabled"
          {%
          if 
          widget._changes_handled
          %}
          @change="
                    state.{{{widget.widget_id}}}.checkboxes = new Array(
                      data.{{{widget.widget_id}}}.table_data.length
                    ).fill(state.{{{widget.widget_id}}}.global_checkbox);
                    post('/{{{widget.widget_id}}}/class_selected_cb');
                  "
          {%
          else
          %}
          @change="
                    state.{{{widget.widget_id}}}.checkboxes = new Array(
                      data.{{{widget.widget_id}}}.table_data.length
                    ).fill(state.{{{widget.widget_id}}}.global_checkbox);
                  "
          {%
          endif
          %}
          v-model="state.{{{widget.widget_id}}}.global_checkbox">
        </el-checkbox>
      </th>
      <th v-for="col_name in data.{{{widget.widget_id}}}.columns">
        {{ col_name }}
      </th>
    </thead>
    <tbody>
      <tr v-for="(row, row_index) in data.{{{widget.widget_id}}}.table_data">
        <td v-if="data.{{{widget.widget_id}}}.selectable" width="30px">
          <el-checkbox 
            :disabled="data.{{{widget.widget_id}}}.disabled"
            v-model="state.{{{widget.widget_id}}}.checkboxes[row_index]"
            {%
            if 
            widget._changes_handled
            %}
            @change="post('/{{{widget.widget_id}}}/class_selected_cb');"
            {%
            endif
            %}
          ></el-checkbox>
        </td>
        <td v-for="col in row">
          <div class="fflex">
            <span v-if="col.name === 'CLASS'">
                <i class="zmdi zmdi-circle ml5 mr5" :style="{color: col.color}"></i>
            </span>
            <svg
                v-if="col.name === 'SHAPE' & col.data === 'polygon'"
                style="margin-right: 5px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="9.75" height="13" viewBox="0 0 24 24" fill=""
            >
                <path d="M2,2V8H4.28L5.57,16H4V22H10V20.06L15,20.05V22H21V16H19.17L20,9H22V3H16V6.53L14.8,8H9.59L8,5.82V2M4,4H6V6H4M18,5H20V7H18M6.31,8H7.11L9,10.59V14H15V10.91L16.57,9H18L17.16,16H15V18.06H10V16H7.6M11,10H13V12H11M6,18H8V20H6M17,18H19V20H17"></path>
            </svg>
            <i
                v-if="col.name === 'SHAPE' & col.data !== 'polygon'"
                :class="col.icon"
                style="margin-right: 5px"
            ></i>
            <span>{{ col.data }}</span>
          </div>
        </td>
      </tr>
    </tbody>
    
  </table>
  <div v-else>
    Classes table is empty
  </div>
</div>